{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Club Details{% endblock %}

{% block content %}

<div class="row justify-content-evenly py-3">
  <div class="col-10">
    <h1 class="text-center my-3 text-decoration-underline fw-bold">Edit Club Details</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        {{ field | as_crispy_field }}
      {% endfor %}
      <button type="submit" class="btn btn-dark">Save</button>
    </form>
  </div>
</div>
{% endblock %}
