{% extends "base.html" %} 
{% load static %}

{% block extra_css %} 
  <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12 start-0">
    <div class="home-image position-relative">
      <div class="row home-image-div position-absolute top-50 start-50 translate-middle">
          <h2 class="col-12 text-white mx-auto text-center mt-3">Book Your Table in Just a Few Clicks</h2>
          <p class="col-12 text-white mx-auto text-center">{{ club_details.tagline }}</p>
          <a class="btn btn-dark col-4 mx-auto text-center" href="#">Book Now!</a>
      </div>
    </div>
  </div>
</div>

<p>{{ club_details.description }}</p>

<div class="row">
  <div class="col-6">
    <h3>Address</h3>
    <p>{{ club_details.address_line1 }}</p>
    <p>{{ club_details.address_line2 }}</p>
    <p>{{ club_details.city }}</p>
    <p>{{ club_details.postcode }}</p>
  </div>
  <div class="col-6"></div>
</div>
{% endblock %}
