{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
    <h1>{% trans "Sign In" %}</h1>
    <p>
        If you have not created an account yet, please <a href="{% url 'account_signup' %}">sign up</a> first.
    </p>
    <form method="post" action="{% url 'account_login' %}" class="entrance login">
        {% csrf_token %}
        {{ form.as_p }}
        {{ redirect_field }}
        <button type="submit" class="prominent login">{% trans "Sign In" %}</button>
    </form>
{% endblock content %}
