{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans "Sign Up" %}
{% endblock title %}

{% block style_tag %}
<style>
    form ul {
        color: {{ club_details.secondary_text_colour }} !important;
    }

    p a:hover {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid primary-colour primary-text-colour d-flex flex-column justify-content-center align-items-center h-100">
    <div class="row w-75 mx-auto secondary-colour secondary-text-colour rounded justify-content-center">
        <div class="col-10">
            <h1 class="text-center text-decoration-underline fw-bold m-3">{% trans "Sign Up" %}</h1>
        </div>
        <div class="col-10">
            <p class="text-center">
                Already have an account? <a class="secondary-text-colour" href="{% url 'account_login' %}">Sign in</a>.
            </p>
        </div>
        <div class="col-10">
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% for field in form %}
                    {{ field | as_crispy_field }}
                {% endfor %}
                <button class="btn btn-dark mb-3" type="submit">{% trans "Sign Up" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
