.primary_colour {
    background-color: {{ club_details.primary_colour }} !important;
}

.secondary_colour {
    background-color: {{ club_details.secondary_colour }} !important;
}

.primary_text_colour {
    color: {{ club_details.primary_text_colour }} !important;
}

.secondary_text_colour {
    color: {{ club_details.secondary_text_colour }} !important;
}

.home-image {
    background-image: url("{{ club_details.home_image.url }}");
    margin-left: calc(50% - 50vw);
    width: 100vw;
    height: 500px;
    background-size: cover;
    background-position: center;
}