{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Add Table{% endblock %}

{% block content %}
<h2 class="text-center py-3 text-decoration-underline fw-bold">Edit Table</h2>

<div class="row justify-content-evenly">
    <div class="col-11">
        <h4 class="fw-bold">Current Tables:</h4>
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Table Number</th>
            <th scope="col">Table Type</th>
            <th scope="col">Price</th>
            <th scope="col">Is Available?</th>
            <th scope="col">Image</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
            <tr>
            <th scope="row">{{ table.table_number }}</th>
            <td>{{ table.table_type }}</td>
            <td>£{{ table.price|floatformat:2 }}</td>
            <td>{{ table.is_available }}</td>
            {% if table.image %}
                <td>{{ table.image.url }}</td>
            {% else %}
                <td>No Image</td>
            {% endif %}
            <td><a href="{% url 'edit_table' table.pk %}" class="btn btn-dark">Edit</a></td>
            <td><a href="{% url 'delete_table' table.pk %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>



<div class="row justify-content-evenly py-4">
    <div class="col-10">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {{ field | as_crispy_field }}
            {% endfor %}
            <button class="btn btn-dark" type="submit">Add Table</button>
        </form>
    </div>
</div>
{% endblock %}