header, footer, main, .toast {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.logo {
  max-height: 125px;
}

.message-container {
  top: 190px;
  z-index: 1050;
  width: auto;
  max-width: 300px;
}

.toast-capper {
  height: 4px;
}

.toast {
  margin-bottom: 1rem;
}